@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject QuanLyKhachSan.Models.DbQuanLyKhachSanContext context
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<header class="header__section">
    <div class="top__nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <ul class="tn-left">
                        <li>
                            <i class="fa fa-phone"></i>
                            @context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="SĐT").MoTa
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            @context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Email").MoTa
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="tn-right">
                        <div class="social" style="margin:10px">
                            <a href="@context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Link Facebook").MoTa"><i class="fab fa-facebook-f"></i></a>
                            <a href="@context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Link Instagram").MoTa"><i class="fab fa-instagram"></i></a>
                            <a href="@context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Link YouTube").MoTa"><i class="fab fa-youtube"></i></a>
                            <a href="@context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Link Linkedin").MoTa"><i class="fab fa-linkedin"></i></a>
                            <a href="@context.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Link Twitter").MoTa"><i class="fab fa-twitter"></i></a>
                        </div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot_nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="home.html">
                            <img src="../img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 left">
                    <div class="menu">
                        <div class="menu_left">
                            <ul>
                                <li><a href="@Url.Action("Home", "Home", new { Areas="" })">Trang chủ</a></li>
                                <li><a href=" @Url.Action("DanhSachPhong", "Phong", new { Areas="" })">Phòng</a></li>
                                <li><a href="@Url.Action("DanhSachVeChungToi", "VeChungToi", new { Areas=""})">Về chúng tôi</a></li>
                                <li><a href="@Url.Action("DanhSachBaiViet", "BaiViet", new { Areas=""})">Bài viết</a></li>
                                <li><a href="@Url.Action("LienLac", "LienLac", new { Areas=""})">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="~/front-end/css/login.css">
</header>
<div class="login" style="background-image: url(/images/login.jpg)">
    <div class="container">
        <div class="row">
            <div class="login-form col-lg-4 offset-lg-4">
                <h2>Đăng ký</h2>
                <form asp-area="Admin" asp-controller="TaiKhoan" asp-action="DangKy" method="post">
                    @if (TempData["error"] != null)
                    {
                        <div style="color: red;">@TempData["error"]</div>
                    }
                    <div class="email-group group">
                        <label for="email-input">Email</label>
                        <input type="email" class="form-control" id='email-input' placeholder="Email" name="Email">
                        <i class="fa-regular fa-user"></i>
                    </div> 
                    <div class="email-group group">
                        <label for="email-input">Tên</label>
                        <input  class="form-control" id='email-input' placeholder="Tên" name="Username">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <div class="password-group group" style="margin-bottom: 30px;">
                        <label for="password-input">Mật khẩu</label>
                        <input type="password" class="form-control" id='password-input' placeholder="Mật khẩu" name="password">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="password-group group">
                        <label for="password-input">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id='password-input' placeholder="Mật khẩu" name="password">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <button type="submit" class="btn">Đăng ký</button>
                    <div class="sign-up">
                        <h6>Bạn đã có tài khoản</h6>
                        <a href="@Url.Action("DangNhap", "TaiKhoan", new { Areas="Admin"})">ĐĂNG NHẬP</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>